In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("C:/Users/ADMIN/Desktop/Aakash/Advertising.csv")

In [4]:
#Understanding the data

In [5]:
data.head()

   Sr. No.     TV  radio  newspaper  sales
0        1  230.1   37.8       69.2   22.1
1        2   44.5   39.3       45.1   10.4
2        3   17.2   45.9       69.3    9.3
3        4  151.5   41.3       58.5   18.5
4        5  180.8   10.8       58.4   12.9

In [6]:
data.tail()

     Sr. No.     TV  radio  newspaper  sales
195      196   38.2    3.7       13.8    7.6
196      197   94.2    4.9        8.1    9.7
197      198  177.0    9.3        6.4   12.8
198      199  283.6   42.0       66.2   25.5
199      200  232.1    8.6        8.7   13.4

In [7]:
data.shape

(200, 5)

In [8]:
data.describe()

          Sr. No.          TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [9]:
data.columns

Index(['Sr. No.', 'TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [10]:
data.nunique()

Sr. No.      200
TV           190
radio        167
newspaper    172
sales        121
dtype: int64

In [11]:
data['TV'].unique()

array([230.1,  44.5,  17.2, 151.5, 180.8,   8.7,  57.5, 120.2,   8.6,
       199.8,  66.1, 214.7,  23.8,  97.5, 204.1, 195.4,  67.8, 281.4,
        69.2, 147.3, 218.4, 237.4,  13.2, 228.3,  62.3, 262.9, 142.9,
       240.1, 248.8,  70.6, 292.9, 112.9,  97.2, 265.6,  95.7, 290.7,
       266.9,  74.7,  43.1, 228. , 202.5, 177. , 293.6, 206.9,  25.1,
       175.1,  89.7, 239.9, 227.2,  66.9, 100.4, 216.4, 182.6, 262.7,
       198.9,   7.3, 136.2, 210.8, 210.7,  53.5, 261.3, 239.3, 102.7,
       131.1,  69. ,  31.5, 139.3, 216.8, 199.1, 109.8,  26.8, 129.4,
       213.4,  16.9,  27.5, 120.5,   5.4, 116. ,  76.4, 239.8,  75.3,
        68.4, 213.5, 193.2,  76.3, 110.7,  88.3, 134.3,  28.6, 217.7,
       250.9, 107.4, 163.3, 197.6, 184.9, 289.7, 135.2, 222.4, 296.4,
       280.2, 187.9, 238.2, 137.9,  25. ,  90.4,  13.1, 255.4, 225.8,
       241.7, 175.7, 209.6,  78.2,  75.1, 139.2, 125.7,  19.4, 141.3,
        18.8, 224. , 123.1, 229.5,  87.2,   7.8,  80.2, 220.3,  59.6,
         0.7, 265.2,   8.4, 219.8,  36.9,  48.3,  25.6, 273.7,  43. ,
        73.4, 193.7, 220.5, 104.6,  96.2, 140.3, 243.2,  38. ,  44.7,
       280.7, 121. , 171.3, 187.8,   4.1,  93.9, 149.8,  11.7, 131.7,
       172.5,  85.7, 188.4, 163.5, 117.2, 234.5,  17.9, 206.8, 215.4,
       284.3,  50. , 164.5,  19.6, 168.4, 276.9, 248.4, 170.2, 276.7,
       165.6, 156.6, 218.5,  56.2, 287.6, 253.8, 205. , 139.5, 191.1,
       286. ,  18.7,  39.5,  75.5, 166.8, 149.7,  38.2,  94.2, 283.6,
       232.1])

In [12]:
#cleaning the data

In [13]:
data.isnull().sum()

Sr. No.      0
TV           0
radio        0
newspaper    0
sales        0
dtype: int64